
@media screen and (min-width: 500px) {

  .container {
    .columns {
      background: #aaaaaa;
    }
    .columns.banner {
      padding-bottom: 30%;
      background: url('../images/ducati.png') no-repeat;
      background-size: cover;
    }
  }
}


